.dark{
    background-color:yellowgreen;
    width: 40px; height: 40px;
}
.light{
    background-color:antiquewhite; 
    width: 40px; height: 40px;
}
.table{
    width: 70%;
    height: 70%;
    border: 1px solid black;
}
.th{
    height: 50%;
    width: 50%;
}



